<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="refresh" content="1">
</head>
<body>
<h1>Metrics for SSH log-in attempts:</h1>
<ul>
{% for ssh in ssh_data %}
    <li>{{ssh[0]}} had {{ssh[1]}} attempts</li>
{% endfor %}
</ul>
</body>
</html>